type: "MARKDOWN_NOTE"
folder: "826d02692db86deab330"
title: "6-java 内部类与嵌套类"
content: '''
  ### 6-java 内部类与嵌套类
  
  ---
  
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-27T10:15:48.343Z"
updatedAt: "2017-09-29T04:00:10.274Z"
