type: "MARKDOWN_NOTE"
folder: "fec47565a0577152774f"
title: "5-logistic 回归"
content: '''
  ### 5-logistic 回归
  
  ---
  
  #### 5.1 基于 logistic 回归和 sigmoid 函数的分类 :
  
  sigmoid 函数的具体计算公式如下: $$\\sigma(z) = \\frac{1}{1+e^{-z}}$$
  
  ![](http://img.my.csdn.net/uploads/201711/16/1510828131_3581.png)
  
  当 $$Z \\in [-\\infty, 0]$$ 时, $$y \\in [0,\\frac{1}{2}]$$
  当 $$Z \\in [0, +\\infty]$$ 时, $$y \\in [\\frac{1}{2},1]$$
  
  因此为了实现逻辑回归， 我们可以在每个特征上都乘以一个回归系数, 然后吧所有的结果相加后带入到 sigmod 函数中，进而得到 0~1 之间的数值。
  
  任何大于 0.5 的数据将被分入到 1 类
  任何小于 0.5 的数据将被分入到 0 类。
  
  Logistic 回归可以看作是一个概率估计。
  
  #### 5.2 基于最优化方法的最佳回归系数确定
  
  Sigmoid 函数的输入记为z, 由下面的公式得出:
  
  $$z=W^TX$$
  
  > 说明 :
  
  1. 向量 X 是分类器的输入数据。
  2. 向量 w 也就是我们要找到的最佳参数。
  
  为了寻找最优的参数, 我们需要用到最优化理论的一些知识。
  
  ##### 5.2.1 梯度上升与梯度下降算法
  
  梯度上升法主要来找到函数的最大值，最优的方法是沿着函数的梯度方向去寻找。利用公式 : 
  
  ![](http://img.my.csdn.net/uploads/201711/20/1511185111_6205.png)
  
  
  有 ![](http://img.my.csdn.net/uploads/201711/20/1511185827_5387.png) 
  
  梯度下降法主要用来寻找函数的最小值，可以将上面的迭代过程符号改成`-`.
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-16T10:02:40.763Z"
updatedAt: "2017-11-20T14:03:21.753Z"
