createdAt: "2018-02-02T04:02:52.450Z"
updatedAt: "2018-04-02T03:25:25.071Z"
type: "MARKDOWN_NOTE"
folder: "d218c9600accb5c277d2"
title: "10-spark 优化"
content: '''
  ###　10-spark 优化
  
  ---
  
  
  #### - 修改默认的 InputFormat:
  
  RDD　的设置方式:
  
  ```
  val rdd = sc.newAPIHadoopFile[LongWritable, Text, CombineTextInputFormat]("s3://mob-emr-test/dongtao/mobvista/ods_adn_trackingnew/2017/02/*/23")
  ```
  
  spark-sql 的设置方式:
  
  ```
  set spark.sql.hive.inputformat=org.apache.hadoop.mapred.lib.CombineTextInputFormat;
  ```
  
  
  #### 参数调优:
  
  ```
  spark.sql.shuffle.partitions  # 增加shuffle 阶段的并行度
  ```
  
  #### 作业容错机制
  
  ```
  spark.task.maxFailures              10
  spark.shuffle.io.retryWait          5
  spark.shuffle.io.maxRetries         20
  spark.stage.maxConsecutiveAttempts  10
  ```
'''
tags: []
isStarred: false
isTrashed: false
