createdAt: "2018-07-04T07:08:46.729Z"
updatedAt: "2018-07-04T07:09:42.907Z"
type: "MARKDOWN_NOTE"
folder: "7671e01e5a4a4ee04aa9"
title: "21-HA高可用集群配置详解"
content: '''
  ### 21-HA高可用集群配置详解
  
  ---
  
  转载自：[Hadoop 2.6.0 HA高可用集群配置详解-先锋的家园-51CTO博客](http://blog.51cto.com/jackwxh/1889644)
  
  
'''
tags: []
isStarred: false
isTrashed: false
