type: "MARKDOWN_NOTE"
folder: "7671e01e5a4a4ee04aa9"
title: "16 - Emr Yarn Node Faie"
content: "### 16 - Emr Yarn Node Faie"
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-05T10:11:01.901Z"
updatedAt: "2017-12-05T10:11:30.919Z"
