type: "MARKDOWN_NOTE"
folder: "353d9e00445c35bfac25"
title: "5- 拉格朗日乘子法,KKY条件与线性规划对偶理论的微妙关系"
content: '''
  ### 5- 拉格朗日乘子法,KKY条件与线性规划对偶理论的微妙关系
  
  ---
  
  
  本文主要讲述给定一个线性规划，我们为什么能按照对偶规则，机械地并且非常容易地写出其对偶。当然为便于理解，本文先介绍了什么是拉格朗日乘子法、KKT(KarushKuhnTucker)条件。
  二者是求解有约束条件的优化问题的两个重要方法。
  
  #### 1. 优化问题常见类型
  
  通常我们需要求解的最优化问题有如下3类： 
  
  **1. 没有约束条件**: 
  
  $$minf(x)$$
  
  **2. 有等式约束的优化问题，可以写为**: 
  
  $$minf(x)$$
  
  $$s.t.gi(x)=0;i=1,...,m$$
  
  **3. 再加入不等式约束的优化问题，可以写为** 
  
  $$minf(x)$$
  
  $$s.t.gi(x)<=0;i=1,...,m$$
  
  $$hi(x)=0;i=1,...,p$$
  
  对于**第(i)类**的优化问题，我们先求取 $$f(x)$$ 的导数，然后令导函数为零，可以求得候选极大值或极小值，再在这些值中选取最优解；
  
  如果是凸函数，可以保证是最优解。
  
  #### 2. 拉格朗日乘子法
  
  > 定义上是这么说的:
  
  在数学中的最优化问题中，拉格朗日乘数法（以数学家约瑟夫·拉格朗日命名）是一种寻找多元函数在其变量受到一个或多个条件的约束时的极值的方法。
  
  这种方法可以将一个有`n`个变量与`k`个约束条件的最优化问题转换为一个解有 $$n+k$$ 个变量的方程组的解的问题。
  
  这种方法中引入了一个或一组新的未知数，即**拉格朗日乘数**，又称**拉格朗日乘子**，或拉氏乘子，它们是在转换后的方程，即约束方程中作为梯度（gradient）的线性组合中各个向量的系数。
  
  比如，要求 $$f(x, y)$$ ,在 $${\\displaystyle g(x,y)=c\\,}$$ 时的最大值时，我们可以引入新变量拉格朗日乘数 $$\\lambda$$ ，
  
  这时我们只需要下列拉格朗日函数的极值：
  
  $${\\displaystyle {\\mathcal {L}}(x,y,\\lambda )=f(x,y)+\\lambda \\cdot {\\Big (}g(x,y)-c{\\Big )}}$$
  
  更一般地，对含n个变量和k个约束的情况，有：
  
  $${\\displaystyle {\\mathcal {L}}\\left(x_{1},\\ldots ,x_{n},\\lambda _{1},\\ldots ,\\lambda _{k}\\right)=f\\left(x_{1},\\ldots ,x_{n}\\right)-\\sum \\limits _{i=1}^{k}{\\lambda _{i}g_{i}\\left(x_{1},\\ldots ,x_{n}\\right)},}$$
  
  > 证明过程:
  
  > 几何意义:
  
  假设有自变量x和y，给定约束条件g(x,y)=c，要求f(x,y)在约束g下的极值。
  
  我们可以画出f的等高线图，如下图。
  
  此时，约束g=c由于只有一个自由度，因此也是图中的一条曲线（红色曲线所示）。
  
  显然地，当约束曲线g=c与某一条等高线f=d1相切时，函数f取得极值。两曲线相切等价于两曲线在切点处拥有共线的法向量。
  
  因此可得函数f(x,y)在切点$$(x_0,y_0)$$的梯度方向与$$g(x,y)=c$$曲线在切点 $$(x_0,y_0)$$ 的法向量方向方向相同。
  
  于是我们便可以列出方程组求解切点的坐标 $$(x_0,y_0)$$，进而得到函数f的极值。
  
  即 : $$\\nabla f(x^{*},y^{*}) + \\lambda \\nabla (g(x^{*},y^{*})-c) = 0$$
  
  所以可以另 :  $$L(x,y, \\lambda) = f(x,y) + \\lambda (g(x^{*},y^{*})-c)$$ ----- (5-1)
  
  然后求梯度等于0的结果, 这也就是拉格朗日函数了.
  
  ![](http://img.my.csdn.net/uploads/201712/11/1512976279_3969.png)
  
  当然还有另一种情况 
  
  ![](http://img.my.csdn.net/uploads/201712/11/1512976279_3322.png)
  
  红线是函数 $$f(x,y)$$ 获得极值的位置等高线在 $$x0y$$的投影，$$g(x,y)=c$$横跨f(x,y)的极值等高线.
  
  在这种情况下, $$f(x,y)$$ 在极值点的梯度为 0. 令 （5-1）式 $$\\lambda = 0$$ 可使等式成立。 
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-08T09:13:22.794Z"
updatedAt: "2017-12-11T08:12:43.043Z"
