type: "MARKDOWN_NOTE"
folder: "353d9e00445c35bfac25"
title: "5- 拉格朗日乘子法,KKY条件与线性规划对偶理论的微妙关系"
content: '''
  ### 5- 拉格朗日乘子法,KKY条件与线性规划对偶理论的微妙关系
  
  ---
  转载自[http://blog.csdn.net/Mr_KkTian/article/details/53750424](http://blog.csdn.net/Mr_KkTian/article/details/53750424), 欢迎阅读原创。
  转载自[https://zhuanlan.zhihu.com/p/28660098](https://zhuanlan.zhihu.com/p/28660098), 欢迎阅读原创。
  转载自:[http://blog.csdn.net/johnnyconstantine/article/details/46335763](http://blog.csdn.net/johnnyconstantine/article/details/46335763)
  
  本文主要讲述给定一个线性规划，我们为什么能按照对偶规则，机械地并且非常容易地写出其对偶。当然为便于理解，本文先介绍了什么是**拉格朗日乘子法**、**KKT(KarushKuhnTucker)条件**。
  
  二者是求解有约束条件的优化问题的两个重要方法。
  
  #### 1. 优化问题常见类型
  
  通常我们需要求解的最优化问题有如下3类： 
  
  **1. 没有约束条件**: 
  
  $$minf(x)$$
  
  **2. 有等式约束的优化问题，可以写为**: 
  
  $$minf(x)$$
  
  $$s.t.gi(x)=0;i=1,...,m$$
  
  **3. 再加入不等式约束的优化问题，可以写为** 
  
  $$minf(x)$$
  
  $$s.t.gi(x)<=0;i=1,...,m$$
  
  $$hi(x)=0;i=1,...,p$$
  
  对于**第(i)类**的优化问题，我们先求取 $$f(x)$$ 的导数，然后令导函数为零，可以求得候选极大值或极小值，再在这些值中选取最优解；
  
  如果是凸函数，可以保证是最优解。
  
  #### 2. 拉格朗日乘子法
  
  > 定义上是这么说的:
  
  在数学中的最优化问题中，拉格朗日乘数法（以数学家约瑟夫·拉格朗日命名）是一种寻找多元函数在其变量受到一个或多个条件的约束时的极值的方法。
  
  这种方法可以将一个有`n`个变量与`k`个约束条件的最优化问题转换为一个解有 $$n+k$$ 个变量的方程组的解的问题。
  
  这种方法中引入了一个或一组新的未知数，即**拉格朗日乘数**，又称**拉格朗日乘子**，或拉氏乘子，它们是在转换后的方程，即约束方程中作为梯度（gradient）的线性组合中各个向量的系数。
  
  比如，要求 $$f(x, y)$$ ,在 $${\\displaystyle g(x,y)=c\\,}$$ 时的最大值时，我们可以引入新变量拉格朗日乘数 $$\\lambda$$ ，
  
  这时我们只需要下列拉格朗日函数的极值：
  
  $${\\displaystyle {\\mathcal {L}}(x,y,\\lambda )=f(x,y)+\\lambda \\cdot {\\Big (}g(x,y)-c{\\Big )}}$$
  
  更一般地，对含n个变量和k个约束的情况，有：
  
  $${\\displaystyle {\\mathcal {L}}\\left(x_{1},\\ldots ,x_{n},\\lambda _{1},\\ldots ,\\lambda _{k}\\right)=f\\left(x_{1},\\ldots ,x_{n}\\right)-\\sum \\limits _{i=1}^{k}{\\lambda _{i}g_{i}\\left(x_{1},\\ldots ,x_{n}\\right)},}$$
  
  > 证明过程:
  
  > 几何意义:
  
  假设有自变量x和y，给定约束条件g(x,y)=c，要求f(x,y)在约束g下的极值。
  
  我们可以画出f的等高线图，如下图。
  
  此时，约束g=c由于只有一个自由度，因此也是图中的一条曲线（红色曲线所示）。
  
  显然地，当约束曲线g=c与某一条等高线f=d1相切时，函数f取得极值。两曲线相切等价于两曲线在切点处拥有共线的法向量。
  
  因此可得函数f(x,y)在切点$$(x_0,y_0)$$的梯度方向与$$g(x,y)=c$$曲线在切点 $$(x_0,y_0)$$ 的法向量方向方向相同。
  
  于是我们便可以列出方程组求解切点的坐标 $$(x_0,y_0)$$，进而得到函数f的极值。
  
  即 : $$\\nabla f(x^{*},y^{*}) + \\lambda \\nabla (g(x^{*},y^{*})-c) = 0$$
  
  所以可以另 :  $$L(x,y, \\lambda) = f(x,y) + \\lambda (g(x^{*},y^{*})-c)$$ ----- (5-1)
  
  然后求梯度等于0的结果, 这也就是拉格朗日函数了.
  
  ![](https://pic2.zhimg.com/50/359cdc26e15205e66204bce2b33e4535_hd.jpg)
  
  #### 3. KKT条件(Karush Kuhn Tucker)
  
  KKT条件其实可以看成是拉格朗日乘子法的进一步推广。
  
  对于上面**第(iii)类**的优化问题，如何求取最优值呢？常用的方法是KKT条件。我们看下面带不等式约束的优化问题: 
  
  求 : $$\\min \\limits_{x} f(x)$$ **subject to** $$g_{1}(x) \\le 0, g_{2}(x) \\le 0$$ (这里我们列出两个约束条件)
  
  对应的拉格朗日函数: $$L(x, \\mu_{1}, \\mu_{2}) = f(x) + \\mu_{1}g_{1}(x) + \\mu_{2}g_{2}(x)$$
  
  > 则KKT条件(具有局部最优点的必要条件)为:
  
  1. $$\\mu_{1} \\ge 0, \\mu_{2} \\ge 0$$ ------ 不等式约束情况
  2. $$\\nabla f(x) + \\mu_{1} \\nabla g_{1}(x) + \\mu_{2} \\nabla g_{2}(x) = 0$$ ----- 是对拉格朗日函数取极值时候带来的一个必要条件
  3. $$\\mu_{1}g(x)=0; \\mu_{2}g(x) = 0$$   ------- 是互补松弛条件
  4. $$g_{1}(x) \\le 0, g_{2}(x) \\le 0$$    ------- 是原约束条件
  
  > 说明:
  
  不等式约束边界与目标函数的交接点不一定是切点了，如下图，如果两个不等式同时活跃(起作用)，则约束条件与等高线相遇的点是在顶点上。
  
  ![](https://pic3.zhimg.com/50/v2-12c9f38a1e53adc055f4fd555e58372c_hd.jpg)
  
  等式约束函数和目标函数在切点的梯度方向同向，而不等式约束则有目标函数的梯度是约束函数在最优点的负梯度的线性组合(上图的红线和绿线), 于是我们便有约束和目标函数梯度的关系:
  
  $$\\nabla f(x^{*}) = -\\mu_{1} g_{1}(x^{*}) -\\mu_{2} g_{2}(x^{*})$$
  
  其中 $$\\mu_{1} \\ge 0$$,$$\\mu_{2} \\ge 0$$。
  
  当然，最优点一定是在约束条件那条线上的，也就是满足
  
  $$g_{1}(x^{*}) = 0$$, 
  $$g_{2}(x^{*}) = 0$$
  
  但是嘞，有的时候在最优点，不是所有的约束条件都起作用的。
  
  对于有约束优化: $$\\min \\limits_{x} f(x)$$ **subject to** $$g_{1}(x) \\le 0 ,  g_{2}(x) \\le 0 ,  g_{3}(x) \\le 0$$
  
  ![](https://pic5.zhimg.com/50/v2-6152d09491f14864fc993d383f381aca_hd.jpg)
  
  如上图所示， $$g_{3}(x) \\le 0$$ 约束条件并没有起作用，因此对于有三个约束条件的问题我们的另一个必要条件还可以写成:
  
  $$g_{1}(x^{*}) = 0$$, 
  $$g_{2}(x^{*}) = 0$$
  
  为了统一表示，我们可以写成:
  
  $$\\mu_{1}g_{1}(x^{*}) = 0$$; 
  $$\\mu_{2}g_{2}(x^{*}) = 0$$;
  $$\\mu_{3}g_{3}(x^{*}) = 0$$
  
  由于 $$\\mu_{i} \\ge 0$$,
  
  - 当约束条件 $$g_{3}(x^{*})$$ 不起作用时，$$\\mu_{3} = 0$$，便得到了与 $$g_{1}(x^{*}) = 0$$, $$g_{2}(x^{*}) = 0$$ 相同的条件。
  - 当约束条件起作用时， $$\\mu_{i} \\gt 0$$
  
  甚至边界条件没有受到约束的时候.
  
  ![](http://img.my.csdn.net/uploads/201712/11/1512983747_8868.png)
  
  可以另 $$\\mu=0$$, 得到 $$\\mu g(x^{*}) = 0$$, 使得符合条件。
  
  #### 4. 从广义拉格朗日(KKT)到线性规划对偶(优化对偶理论)
  
  对于给定的一个**LP**模型:
  
  $$min: c^{T}x$$, 限制条件 ： $$Ax \\gt b$$, $$x \\gt 0$$
  
  我们写出其拉格朗日函数:
  
  $$L(x, \\lambda) = c^{T}x - \\sum \\limits_{i=1}^m \\lambda_i (a_{i1}x_1 + a_{i2}x_2 + ... + a_{in}x_n - b_i)$$
  
  当 $$\\lambda > 0$$ 时，并且 $$x$$ 是可行解的时候，$$c^{T}x \\gt L(x, \\lambda)$$,即拉格朗日是原问题的一个下界。再进一步讨论我们有下面不等式成立：
  
  $$c^{T}x \\gt L(x,\\lambda) \\gt inf_xL(x, \\lambda)$$
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-08T09:13:22.794Z"
updatedAt: "2017-12-22T09:19:39.101Z"
