createdAt: "2018-03-20T09:35:20.611Z"
updatedAt: "2018-03-20T09:35:43.452Z"
type: "MARKDOWN_NOTE"
folder: "5ebd9b00f5963387cb73"
title: "11-JSP指令"
content: '''
  ### 11-JSP指令
  
  ---
  
  > JSP 指令影响JSP页面生成的servlet的整体结构
  
  ```
  <@directive attr="value">
  ```
  
  - #### page指令
  
  1. **import**
  
    ```
    <%@page import="package.class" %>
    <%@page import="package.class1, ...., package.classN" %>
    ```
  
    说明:
  
    > 1. import 属性指定JSP页面转换成的servlet应该输入的包
    > 2. import 是page的属性中唯一允许在同一个文档中多次出现的属性。
  
  2. **contentType**
  
    ```
    <%@ page contentType="MIME-Type" %>
    <%@ page contentType="MIME-Type; charset=Charcter-Set"%>
    ```
  
    说明：
  
    > 1. contentType 属性设置发送到客户程序的文档的 MIME 类型
    > 2. JSP 页面的默认MIME类型是 : **text/html**, 默认字符集 **ISO-8859-1**
  
  3. **pageEncoding** 
  
    ```
    <%@page pageEncoding="Charcter-Set" %>
    ```
  
    说明:
  
    > 设置解码方式
  
  4. **session**
  
    ```
    <%@ page session="true" %> <%--Default--%>
    <%@ page session="false"%>
    ```
  
    说明:
  
    > 1. **true** 值表示， 如果存在已有的回话， 则预定义session应该绑定到现有的会话；否则，创建新的会话并将其绑定到session
    > 2. **false** 值表示，不自动创建会话 ，在JPS页面转换成servlet时，对变量 session 的访问会导致错误。
  
  5. **info**
  
    ```
    <%@ page info="Some Message" %>
    ```
  
    > info 属性定义一个可以在 **servlet** 中通过 **getServletInfo** 方法获取的字符串。
  
  6. **errorPage** 与 **isErrorPage**
  
    ```
    <%@ page errorPage="Relative URL" %>
    <%@ page isErrorPage="true/false"%> --- <%--Default false--%>
    ```
  
    说明：
  
    > 1. errorPage 属性用来指定一个JSP页面，由该页面中抛出但未捕获的任何异常
    > 2. isErrorPage 属性表示当前页是否可以作为其他JSP页面的错误页面。
  
  - #### include指令
  
  ```
  <%@include file="usrpage.jsp" %>
  ```
  
  说明：
  
  > 对于文件包含，应该尽可能的使用jsp:include。仅在所包含的文件中定义了主页面要用到的字段或方法，或者所包含的文件设置了主页面的响应包头时，才应该使用include 指令
  
  - #### taglib指令
'''
tags: []
isStarred: false
isTrashed: false
