type: "MARKDOWN_NOTE"
folder: "50a801ae3cc972d1a4c3"
title: "15-Actor"
content: '''
  ### 15-Actor
  
  ---
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-18T14:28:11.834Z"
updatedAt: "2017-10-18T14:28:19.535Z"
