createdAt: "2018-07-18T09:04:05.158Z"
updatedAt: "2018-07-18T09:04:23.130Z"
type: "MARKDOWN_NOTE"
folder: "098403beadb3e4ebea05"
title: "5-HDFS高可用"
content: '''
  ### 5-HDFS高可用
  
  ----
  
'''
tags: []
isStarred: false
isTrashed: false
