createdAt: "2018-02-05T06:15:51.320Z"
updatedAt: "2018-02-05T06:19:19.499Z"
type: "MARKDOWN_NOTE"
folder: "7b5f71e13e8949dc60be"
title: "2- MFC　菜鸟学习"
content: '''
  ### 2- MFC　菜鸟学习
  
  ---
  
  - List Control 教程 : [http://www.functionx.com/visualc/controls/listcontrol.htm](http://www.functionx.com/visualc/controls/listcontrol.htm)
'''
tags: []
isStarred: false
isTrashed: false
