createdAt: "2018-03-31T15:58:40.017Z"
updatedAt: "2018-03-31T16:04:53.356Z"
type: "MARKDOWN_NOTE"
folder: "7e52a01ed824a11f4a8d"
title: "2-线性表"
content: '''
  ### 2-线性表
  
  ---
  
  线性表是一种典型的线性结构。
  
  #### 线性表的顺序实现
  
  
  
  #### 线性表的链式实现
  
'''
tags: []
isStarred: false
isTrashed: false
