createdAt: "2018-03-16T11:40:51.878Z"
updatedAt: "2018-03-16T11:41:06.326Z"
type: "MARKDOWN_NOTE"
folder: "312348b473d25bc30401"
title: "8-kafka 简单消费者实例:"
content: '''
  ### 8-kafka 简单消费者实例:
  
  ---
  
  
'''
tags: []
isStarred: false
isTrashed: false
