createdAt: "2019-12-23T09:31:22.092Z"
updatedAt: "2019-12-23T09:31:22.092Z"
type: "MARKDOWN_NOTE"
folder: "7e52a01ed824a11f4a8d"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
