type: "MARKDOWN_NOTE"
folder: "199632a5d0d7fd0aac09"
title: "1. MMP 机制"
content: '''
  ### 1. MMP 机制
  
  ---
  
  转载自[http://blog.csdn.net/mg0832058/article/details/5890688](http://blog.csdn.net/mg0832058/article/details/5890688)
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-17T07:55:52.929Z"
updatedAt: "2018-01-17T07:56:19.915Z"
