type: "MARKDOWN_NOTE"
folder: "7671e01e5a4a4ee04aa9"
title: "14 - Yarn下MapReduce部分参数理解"
content: '''
  ### 14 - Yarn下MapReduce部分参数理解
  
  ---
  
  转载自[http://www.jianshu.com/p/e8d93817f547](http://www.jianshu.com/p/e8d93817f547), 推荐阅读原创。
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-01T10:19:30.208Z"
updatedAt: "2017-12-01T12:07:32.852Z"
