type: "MARKDOWN_NOTE"
folder: "fec47565a0577152774f"
title: "6- SVM 支持向量机"
content: '''
  #### 6- SVM 支持向量机
  
  ---
  [http://blog.csdn.net/macyang/article/details/38782399/](http://blog.csdn.net/macyang/article/details/38782399/)
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-29T14:24:04.048Z"
updatedAt: "2017-11-29T14:24:38.749Z"
