createdAt: "2018-05-06T03:30:17.495Z"
updatedAt: "2018-05-06T04:40:24.467Z"
type: "MARKDOWN_NOTE"
folder: "7b5f71e13e8949dc60be"
title: "4-学习目标"
content: '''
  ### 4-学习目标
  
  ----
  
  ## 已完成:
  
  ### 系统方向
  
  - 计算机网络
  - 计算机操作系统
  - 数据结构
  - linux 系统管理
  - linux 系统开发
  - linux 网络编程
  
  ### 语言学习
  
  - c语言
  - java语言
  - sql 语言
  
  ### 框架学习
  
  - hadoop
  - hive
  - java EE
  ---
  
  ## 计划中:
  
  ### 语言学习:
  
  #### 1.scala
  - **快学scala** : 完成
  - **scala 程序设计**: 进行中
  
  
  ### 框架学习:
  
  #### 1.spark: 进行中 
  #### 2.kafka: 进行中 
  #### 3.spring boot:进行中
  #### 4.sprint mvc: 准备
  #### 5.mybitis: 准备
  
  
  ### 内核方向
  
  #### 1.JVM 虚拟机:
  - **深入了解jvm虚拟机**:进行中
  #### 2.Linux内核:
  - **深入理解 Linux 内核**:准备
  - **深入理解计算机系统**：准备
'''
tags: []
isStarred: false
isTrashed: false
