createdAt: "2018-05-06T03:30:17.495Z"
updatedAt: "2018-05-06T03:52:41.909Z"
type: "MARKDOWN_NOTE"
folder: "7b5f71e13e8949dc60be"
title: "4-学习目标"
content: '''
  ### 4-学习目标
  
  ----
  
  ### 语言学习:
  
  #### 1.scala
  
  
  
  
  ### 框架学习:
  
  [] spark 
  [] kafka 
  [] spring boot
  [] sprint mvc
  [] mybitis
  
  
  ### 内核方向
  
  
'''
tags: []
isStarred: false
isTrashed: false
