type: "MARKDOWN_NOTE"
folder: "fec47565a0577152774f"
title: "3-决策树"
content: '''
  ### 3-决策树
  ---
  
  [https://www.zhihu.com/question/22178202](https://www.zhihu.com/question/22178202)
  
  #### 信息增益:
  
  信息的定义: $$l(x_l)=-\\log_2p(x_1)$$
  
  
  ```
  #!/usr/bin/env python
  #-*- coding:utf8 -*-
  
  
  #########################
  #    香弄熵计算公式
  #########################
  
  import math
  import numpy
  
  def createDataset():
      dataset=numpy.array([[1,1, 'test'], [1,1, 'yes'],[1,0,'heeh'],[0,1,'no'],[0,1, 'no']])
  
      return dataset.T
  
  def calcShannonEnt(dataset):
      numEntries=len(dataset[1,:])
  
      labelCounts={}
  
      # 计算标签频率
      for i in range(numEntries):
          currentLabel=dataset[-1, i]
          labelCounts[currentLabel] = labelCounts.get(currentLabel,0)+1
  
      print(labelCounts)
      shanonEnt = 0.0
  
      for key in labelCounts:
          prob = float(labelCounts[key])/numEntries  # 计算标签概率
          print(prob)
          shanonEnt += (-prob*math.log(prob, 2))
  
      return shanonEnt
  
  def main():
      dataset=createDataset()
  
      print(calcShannonEnt(dataset=dataset))
  
  if __name__ == '__main__':
      main()
  
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-10T08:25:45.279Z"
updatedAt: "2017-11-10T11:44:09.606Z"
