createdAt: "2018-06-07T03:32:13.112Z"
updatedAt: "2018-06-07T03:35:45.590Z"
type: "MARKDOWN_NOTE"
folder: "7b5f71e13e8949dc60be"
title: "临时"
content: '''
  ### 临时
  
  ---
  
  
  path_name | path_desc | path_last_read_time | path_last_write_time
  --- | --- | --- | ---
  s3://mob-emr-test/huiyong.wang/big_vba/install_join_ua |s3://mob-emr-test/huiyong.wang/big_vba/install_join_ua/yyyyMMdd | 0000 | 0000 
'''
tags: []
isStarred: false
isTrashed: false
