type: "SNIPPET_NOTE"
folder: "353d9e00445c35bfac25"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-12-11T08:24:43.755Z"
updatedAt: "2017-12-11T08:24:48.687Z"
