type: "MARKDOWN_NOTE"
folder: "e6c9bd1f0c13e9eccb37"
title: "9-python 连接　Mysql"
content: '''
  ### 9-python 连接　Mysql
  
  ---
  
  ```
  #!/usr/bin/env python
  
  import MySQLdb
  import gzip
  from StringIO import StringIO
  import json
  
  def main():
      mysqlHostName='127.0.0.1'
      mysqlDataBase='azkaban'
      mysqlUserName='saligia'
      mysqlPassword='360628836989'
  
      # connect mysql
      db=MySQLdb.connect(host=mysqlHostName, user=mysqlUserName, passwd=mysqlPassword, port=3306,db=mysqlDataBase, charset='utf8')
  
      cursor=db.cursor()
      try:
          cursor.execute('SELECT flow_data FROM execution_flows WHERE exec_id=4578')
  
          data=cursor.fetchone()
  
          #print(data[0])
          buff=StringIO(data[0])
  
          fin=gzip.GzipFile(fileobj=buff, mode='rb')
  
          outdata = fin.read()
  
          jsonObj = json.loads(s=outdata, encoding='utf8')
  
          res = json.dumps(jsonObj)
  
          print(res)
  
      except :
          db.rollback()
      finally:
          db.close()
  
  
  
  if __name__ == '__main__' :
      main()
  ```
  
  - 连接　Mysql 
  ```
  MySQL.connect(host=HOSTNAME, user=USERNAME, passwd=USERPASSWD, port=PORT, db=DATABASES, charset=CHARSET)
  ```
  - 获取操作游标
  ```
  curosr=db.cursor()
  ```
  - 执行 sql 语句
  ```
  cursor.execute(sql)
  ```
  
  
  ### 查询结果:
  
  - cursor.fetchone()
  
  该方法获取下一个查询结果集。结果集是一个对象
  
  - cursor.fetchall()
  
  接收全部的返回结果行.
  
  - cursor.rowcount
  
  这是一个只读属性，并返回执行execute()方法后影响的行数。
  
  ### 事物:
  
  - 提交执行
  ```
  db.commit()
  ```
  - 回滚
  ```
  db.rollbak()
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-29T12:06:46.890Z"
updatedAt: "2017-08-29T12:27:03.933Z"
