createdAt: "2018-03-20T09:34:37.745Z"
updatedAt: "2018-12-25T06:44:40.546Z"
type: "MARKDOWN_NOTE"
folder: "5ebd9b00f5963387cb73"
title: "10-Jsp基础"
content: '''
  ### 10-Jsp基础
  
  ---
  
  - ##### 基本语法
  1. **HTML文本**
  
  > HTML 内容， 不加更改的传递给客户
  
  2. **HTML注释**
  
  ```
  <!--注释内容-->
  ```
  
  3. **模板文本**
  
  > 不加更改的发送给客户的文本
  
  4. **JSP注释**
  
  > 开发人员的注释内容 
  
  ```
  <%-- 注释内容 --%>
  ```
  
  5. **JSP表达式**
  
  > 表达式 ， 每次请求页面时都计算值并发送到客户程序
  
  ```
  <%= java value %>
  ```
  
  6. **JSP Script**
  
  > 每次请求页面时都执行的一条或多条语句 
  
  ```
  <% Java Statement %>
  ```
  
  7. **JSP声明**
  
  > 在页面转换成 servlet 时， 成为类定义的字段或方法
  
  ```
  <%! Field Definition %>
  <%! Method Definition %>
  ```
  
  > Jsp 声明可以包含字段（实例变量）定义，方法定义，内部类定义，甚至静态初始块
  
  8. **JSP 指令**
  
  > servlet 代码的高层结构信息( **page** )  
  
  > 页面转换期间引入的代码( **include** ) 
  
  > 所采用的定制标签库( **taglib** )
  
  ```
  <%@directive attr="value"%>
  ```
  
  9. **JSP动作**
  
  > 页面被请求时应该执行的动作
  
  ```
  <jsp:blan>...<jsp:blan>
  ->blan
          include
          useBean
          invoke
  ```
  
  10. **JSP表达式的元素**
  
  > 简写的jsp 表达式
  
  ```
  ${ EL Expression }
  ```
  
  11. **定制标签**
  
  > 对定制标签的调用
  
  12. **转义的模板文本**
  
  > 需要特殊解释的文本
  
  
  ---
  
  - ##### 在 Jsp 中调用 Java 代码
  1. 直接调用java代码
  2. 间歇调用java代码
  3. 使用bean
  4. 使用MVC架构
  5. 使用jsp表达式语言
  6. 使用定制标签
  
  - ##### JSP脚本元素的类型
  
  使用jsp脚本元素可以将Java代码插入到与JSP页面相对相的servlet中，脚本元素主要有3中形式：
  
  1. 形如 **<%= java Exception %>** 的表达式，他们在求值后插入到servlet的输出中。
  2. 形如 **<% Java Code %>** 的scriptlet, 他们将插入到servlet的jspService方法(由 service 方法调用) 中.
  3. 形如 **<%! Field/Method Declaration %>** 声明， 他们将插入到servlet类的定义中，不属于任何已有的方法。
  
  - ##### JSP中的预定义变量
  - **request**     对象    -- HttpServletRequest
  - **response**    对象    -- HttpServletResponse
  - **session**     对象    -- HttpSession
  - **out**         对象    -- Writer
  - **application** 对象    -- ServletContext
'''
tags: []
isStarred: false
isTrashed: true
