type: "MARKDOWN_NOTE"
folder: "fec47565a0577152774f"
title: "4- 基于概率论的分类方法:朴素贝叶斯"
content: '''
  ### 4- 基于概率论的分类方法:朴素贝叶斯
  ---
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-14T02:49:56.200Z"
updatedAt: "2017-11-14T02:50:42.578Z"
